<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vindes ao meu blog!</h1>
        </div>
    </div>

    <div class="row mt-4 mb-4 w-100">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                O projeto deste blog foi desenvolvido no bootcamp da Generation Brasil e tem como objetivo ser uma API completa, do back-end ao front-end, ser uma base simples e sólida dos conhecimentos técnicos adquiridos no período do curso.
            </p>
            <p class="text-justify text-monospace">
                No decorrer do bootcamp temos como missão descobrir quem somos nós na tecnologia, onde nos encaixamos, onde temos mais facilidade, onde queremos nos aventurar mais, saber conceitos do software e como aplicá-los, chegar ao final do curso com todo conhecimento e desejo de aprender mais que um junior deve ter.
            </p>
            <p class="text-justify text-monospace">
                Esse blog também é uma lembrança do que foi produtivo, ensinado, finalizado, um ambiente acolhedor, um lugar conectado, algo que não conseguíamos pensar no fim... infelizmente acabou e agora nos resta a lembrança deste lindo ambiente que vamos levar para vida inteira.
            </p>
        </div>
    </div>
</div>

<div class="parallax w-100"></div>

<div class="row mt-5 mb-5 w-100">
    <div class="col-md12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
    </div>
</div>
