<div class="card border-0 bg-transparent" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="../../assets/img/perfil.gif" alt="Gif Cachorro Digitando">
    </div>
  
    <div class="card-body">
        <h5 class="card-title text-center">{{nome}}</h5>
        <p class="card-text text-center text-secondary">Desenvolvedora em desenvolvimento | Full Stack | Java Developer | Angular | Scrum | Spring</p>
        <a href="https://www.linkedin.com/in/jessica-lorena/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>
        <a href="https://github.com/Jessica-Lorena" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
</div>
