@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

*{
    font-family: 'Sansita Swashed', cursive;
}

body {
    background: url('assets/img/fundo.jpg');
    background-size: 100%;
}

a {
    cursor: pointer;
    text-decoration:none;
}
/* You can add global styles to this file, and also import other style files */
